.nav-wrapper {
  background-color: #6f4037;
}
.slider .indicators .indicator-item.active {
  background-color: #6f4037;
}
.move {
  margin-top: 60px;
  margin-bottom: 20px;
}
.parallax-container {
  min-height: 280px;
  height: auto;
}
